# functions-framework==3.*
# duckdb==1.1.0
# google-cloud-secret-manager
# feedparser
# pandas
# Flask==2.3.0

#functions-framework==3.3.0
functions-framework==3.1.0
Flask==2.3.0
google-cloud
duckdb==1.1.0
pandas
yfinance==0.2.18
